<script>
  $(function () {
    $('#res').css('opacity',0);
    $('#form').on('submit',async function(e){
      e.preventDefault();
      let name = $(this).find('[name=habit]').val();
      let date = $(this).find('[name=startDate]').val();
      console.log('Form data: ' + name + ', ' + date);
      console.log(!name || !date);
      if(!name || !date) {
        $('#res').html('Wprowadź poprawne dane.').css('opacity',1).animate({ opacity: 0 },{duration: 1000});
        return false;
      }
      if(!await isLoggedIn()) {
        let tr = db.transaction(['activities'], 'readwrite');
        let os = tr.objectStore('activities');
        let req = os.add({name: name, date: date});
        req.onsuccess = event => {
          console.log('Success\n');
          console.log(event);
        }
      }
      else {
            await $.post({
              url: '/uploadLocalActivity',
              data: {name: name, date: date},
              success: function (data, e, x) {
                console.log("Success");
                displayNotification(data);
              }
            });
      }
      $('#res').html('Formularz przesłany!').css('opacity',1).animate({ opacity: 0 },{duration: 1000});
      return false;
    });

    let html = $('#habit-select').html()
    let tr = db.transaction(['habits']);
    let os = tr.objectStore('habits');
    os.getAll().onsuccess = event => {
      console.log('Local habits:');
      console.log(event.target.result);
      event.target.result.forEach(habit => {
        html += '<option value="' + habit.name + '">' + habit.name + '</option>';
      });
      $('#habit-select').html(html);
    };
  });
</script>
<form id="form" action="">
  <table>
    <tr><td><label>
      Który zwyczaj kultywowałeś?<br/>
      <select name="habit" id="habit-select">
        {% for name in habits %}
        <option value="{{name|e}}">{{name|e}}</option>
        {% endfor %}
      </select>
    </label></td></tr>
    <tr><td><label>
      Kiedy?<br/>
      <input type="date" name="startDate"/>
    </label></td></tr>
    <tr><td>
      <input type="submit" value="Wyślij"/>
    </td></tr>
  </table>
  <div id="res"></div>
</form>