<style>
  th {
    font-weight: bold;
  }
  .green {
    background-color: palegreen;
  }
  .red {
   background-color: indianred;
  }
  td {
    height: 1em;
  }
  .habit-name {
    font-size: 120%;
    font-weight: bold;
  }
</style>
<p>Planowałeś/aś wykonywać swoje nowe zwyczaje co daną ilość dni. W poniższej tabeli przedstawiono ostatnie 10 dat,
w których zobowiązałeś się wykonywać nowe przyzwyczajenia. Jeśli nie minęło jeszcze 10 dat, pojawi się ich mniejsza
ilość. Jeśli przyzwyczajenie jest tak nowe, że jeszcze nie było takich dat, przyzwyczajenie zostanie pominięte.</p>
<div id="table-list">
  {% for habit,summary in package if summary %}
  <span class="habit-name">{{habit}}</span>
    <table>
      <tr>{% for instance in summary[0] %}<th>{{instance}}</th>{% endfor %}</tr>
      <tr>{% for upheld in summary[1] %}<td class="{% if upheld %}green{% else %}red{% endif %}"></td>{% endfor %}</tr>
    </table>
  {% endfor %}
</div>